[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/twin-te/user-service.git
[submodule "services/session-service"]
	path = services/session-service
	url = https://github.com/twin-te/session-service.git
